img { 
  width: 200px;
}

body {
  text-align: center;
}
body {
  text-align: center;
  font-family: 'Arial';
  background: rgb(0, 119, 255);
}
 a {
        color: black
    }
a {
        color: rgb(255, 0, 0)
    }